<section class='card'>
  <h1>Edit Profile</h1>
  <p class='muted'>Update your profile information and preferences.</p>

  <form class='form'>
    <div class='grid-2'>
      <label>First Name
        <input type='text' value='{{user.firstName}}' />
      </label>

      <label>Last Name
        <input type='text' value='{{user.lastName}}' />
      </label>
    </div>

    <div class='grid-2'>
      <label>City
        <input type='text' value='{{user.city}}' />
      </label>

      <label>State
        <input type='text' value='{{user.state}}' />
      </label>
    </div>

    <label>Bio
      <textarea rows='4'>{{user.bio}}</textarea>
    </label>

    <div class='grid-2'>
      <label>Skill Level
        <label>Skill Level
          <select>
            {{#if isBeginner}}
              <option selected>Beginner</option>
            {{else}}
              <option>Beginner</option>
            {{/if}}
            {{#if isIntermediate}}
              <option selected>Intermediate</option>
            {{else}}
              <option>Intermediate</option>
            {{/if}}
            {{#if isAdvanced}}
              <option selected>Advanced</option>
            {{else}}
              <option>Advanced</option>
            {{/if}}
          </select>
        </label>
      </label>

      <label>Attended Events Visibility
        <select>
          <option selected>Public</option>
          <option>Private</option>
        </select>
      </label>
    </div>

    <button type='submit' class='btn'>Save Profile</button>
  </form>
</section>