<section class='card'>
  <h1>Edit Post</h1>
  <p class='muted'>Update your event details and restrictions.</p>

  <form class='form'>
    <label>Post Title
      <input type='text' value='{{post.title}}' />
    </label>

    <div class='grid-2'>
      <label>Sport Type
        <input type='text' value='{{post.sport}}' />
      </label>

      <label>Location
        <input type='text' value='{{post.location}}' />
      </label>
    </div>

    <div class='grid-3'>
      <label>Date
        <input type='date' value='{{post.date}}' />
      </label>

      <label>Time
        <input type='time' value='{{post.time}}' />
      </label>

      <label>Skill Level
        <input type='text' value='{{post.skill}}' />
      </label>
    </div>

    <label>Description
      <textarea rows='5'>{{post.description}}</textarea>
    </label>

    <div class='action-row'>
      <button type='submit' class='btn'>Save Changes</button>
      <button type='button' class='btn danger'>Delete Post</button>
    </div>
  </form>
</section>