<section class='card'>
  <div class='post-top'>
    <span class='tag'>{{post.sport}}</span>
    <span class='muted'>{{post.date}} · {{post.time}}</span>
    <span class="tag tag-status">{{post.status}}</span>
  </div>

  <h1>{{post.title}}</h1>
  <p class='muted'>By <a href='/profile/{{post.authorId}}'>{{post.author}}</a> · {{post.location}}</p>
  <p>{{post.description}}</p>

  <div class='meta-row'>
    <span>Skill: {{post.skill}}</span>
    <span>Age: {{post.ageRange}}</span>
    <span>{{post.gender}}</span>
    <span>{{post.accepted.length}} / {{post.maxParticipants}} participants</span>
  </div>

  <div class='meta-row'>
    <span>👍 {{post.likes}}</span>
    <span>👎 {{post.dislikes}}</span>
    <span>💬 {{post.comments}}</span>
  </div>


  <div class='action-row'>
    {{#unless isAuthor}}
      {{#if post.isAccepted}}
        <span class="btn btn-outline">✅ Accepted</span>
      {{else if post.hasPendingRequest}}
        <span class="btn btn-outline">⏳ Request Pending</span>
      {{else}}
        <form action="/posts/{{post.id}}/join" method="POST" style="display:inline">
          <button type="submit" class="btn">Request to Join</button>
        </form>
      {{/if}}

      {{#if post.isLiked}}
        <span class="btn btn-outline">👍 Liked</span>
      {{else}}
        <a href="/posts/{{post.id}}/like" class="btn btn-outline">👍 Like</a>
      {{/if}}

      {{#if post.isDisliked}}
        <span class="btn btn-outline">👎 Disliked</span>
      {{else}}
        <a href="/posts/{{post.id}}/dislike" class="btn btn-outline">👎 Dislike</a>
      {{/if}}
    {{/unless}}
    {{#if isAuthor}}
      <a href="/posts/{{post.id}}/edit" class="btn">Edit</a>
    {{/if}}
  </div>
  <br>
  {{#if isAuthor}}
  <div class='info-row'>
    <span>Accepted: {{post.accepted.length}}</span>
    <span>Requests: {{post.requests.length}}</span>
    <br>
    {{#each post.requests}}
      <br>
      <p>{{this.name}}</p>
      <a href='/posts/{{../post.id}}/accept/{{this.id}}' class='btn btn-outline'>Accept</a>
      <a href='/posts/{{../post.id}}/decline/{{this.id}}' class='btn btn-outline'>Decline</a>
      <br>
    {{/each}}
  </div>
  {{/if}}
</section>

<section class='card'>
  <h2>Comments</h2>
  <div class='comment-list'>
    {{#each comments}}
      <div class='comment'>
        <strong>{{author}}</strong>
        <p>{{content}}</p>
      </div>
    {{/each}}
  </div>

  <form class='form' action='/posts/{{post.id}}' method='POST'>
    <br>
    <label>Add a comment
      <textarea rows='3' name="comment" placeholder='Write your comment...'>{{prev.comment}}</textarea>
    </label>
    {{#if error}}
      <p class='error'>{{message}}</p>
    {{/if}}
    <button type='submit' class='btn small'>Post Comment</button>
  </form>
</section>