<section class='card'>
  <div class='post-top'>
    <span class='tag'>{{post.sport}}</span>
    <span class='muted'>{{post.date}} · {{post.time}}</span>
  </div>

  <h1>{{post.title}}</h1>
  <p class='muted'>By <a href='/profile/{{post.authorId}}'>{{post.author}}</a> · {{post.location}}</p>
  <p>{{post.description}}</p>

  <div class='meta-row'>
    <span>Skill: {{post.skill}}</span>
    <span>Age: {{post.ageRange}}</span>
    <span>{{post.gender}}</span>
  </div>

  <div class='action-row'>
    <a href='/posts/{{post.id}}/join' class='btn'>Request to Join</a>
    <a href='/posts/{{post.id}}/like' class='btn btn-outline'>Like</a>
    <a href='/posts/{{post.id}}/dislike' class='btn btn-outline'>Dislike</a>
    {{#if isAuthor}}
      <a href='/posts/{{post.id}}/edit' class='btn btn-outline'>Edit</a>
    {{/if}}
  </div>
  <br>
  {{#if isAuthor}}
  <div class='info-row'>
    <span>Accepted: {{post.accepted.length}}</span>
    <span>Requests: {{post.requests.length}}</span>
    <br>
    {{#each post.requests}}
      <br>
      <p>{{this.name}}</p>
      <a href='/posts/{{../post.id}}/accept/{{this.id}}' class='btn btn-outline'>Accept</a>
      <a href='/posts/{{../post.id}}/decline/{{this.id}}' class='btn btn-outline'>Decline</a>
      <br>
    {{/each}}
  </div>
  {{/if}}
</section>

<section class='card'>
  <h2>Comments</h2>
  <div class='comment-list'>
    {{#each comments}}
      <div class='comment'>
        <strong>{{author}}</strong>
        <p>{{content}}</p>
      </div>
    {{/each}}
  </div>

  <form class='form' action='/posts/{{post.id}}' method='POST'>
    <label>Add a comment
      <textarea rows='3' name="comment" placeholder='Write your comment...'></textarea>
    </label>
    <button type='submit' class='btn small'>Post Comment</button>
  </form>
</section>