<section class='card'>
  <h1>Report Content or User</h1>
  <p class='muted'>Help us keep the community safe and respectful.</p>

  <form class='form' action="/report" method="POST">
    <label>Report Type
      <select name="reportType">
        {{#if prev.isPost}}
          <option selected>Post</option>
        {{else}}
          <option>Post</option>
        {{/if}}
        {{#if prev.isUser}}
          <option selected>User</option>
        {{else}}
          <option>User</option>
        {{/if}}
      </select>
    </label>

    <label>Email of Author or Person being reported
      <input type='email' name='targetEmail' value="{{prev.targetEmail}}" placeholder='john@example.com' />
    </label>
    
    <label>Reason
      <select name='reason'>
        {{#if prev.isInappropriate}}
          <option selected>Inappropriate Content</option>
        {{else}}
          <option>Inappropriate Content</option>
        {{/if}}
        {{#if prev.isHarassment}}
          <option selected>Harassment</option>
        {{else}}
          <option>Harassment</option>
        {{/if}}
        {{#if prev.isSpam}}
          <option selected>Spam</option>
        {{else}}
          <option>Spam</option>
        {{/if}}
        {{#if prev.isFakeEvent}}
          <option selected>Fake Event</option>
        {{else}}
          <option>Fake Event</option>
        {{/if}}
        {{#if prev.isOther}}
          <option selected>Other</option>
        {{else}}
          <option>Other</option>
        {{/if}}
      </select>
    </label>

    <label>Description
      <textarea rows='5' name='description' placeholder='Describe the issue...'>{{prev.description}}</textarea>
    </label>

    {{#if error}}
      <p class='error'>{{message}}</p>
    {{/if}}
    {{! TODO: Add JS }}
    <button type='submit' class='btn danger'>Submit Report</button>
  </form>
</section>